body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 10rem;
  margin: 0;
  font-family: "Noticia text", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
